#contact-section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: Roboto;
}

#logo-sec {
    flex: 1.5;
    justify-items: center;
    margin: 0 auto;
}

#form-sec {

    padding: 50px;
    flex:1;
    border-left: 1px solid black;
}

#btn{
    position: relative;
    left: 40%;
}

#image{
    position: relative;
    left:30%;
    top:40%
}